<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SAMCIS Spaces"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".startUp.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Sign-up activity -->
        <activity
            android:name=".startUp.SignUp"
            android:exported="true" />

        <!-- Main activity -->
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />

        <!-- Create Profile - Student -->
        <activity
            android:name=".startUp.StudentCreateProfile"
            android:exported="true" />

        <!-- Create Profile - Faculty -->
        <activity
            android:name=".startUp.FacultyCreateProfile"
            android:exported="true" />

        <!-- Preloaded fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>
